.body{
    display: flex;
    justify-content: center;
    height: 90%;
    align-items: center;
    background-color: white;
}
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
.ancho{
    width: 80%;
}